---
---
@import 'animated';
@import 'mixins';

$blue: #3276b1;
$grey: #666;

@include animation(fade-in-up);

html, body {
  min-height: 100%;
  height: 100%;
}
body {
  background: #000 url('../imgs/bg.jpg') 50% 50% no-repeat;
  background-size: cover;
  padding-top: 60px;
}

#home {
  text-align: center;
  margin-bottom: 200px;
  padding: 60px 0;
  @include animate(fade-in-up, 1s);
  h1 {
    font-size: 80px;
    letter-spacing: 2px;
  }
  p.lead {
    font-size: 20px;
    color: #000;
  }
}

section {
  padding-bottom: 60px;
}

#about {
  background: #fff;
}

#projects {}

#open-source-projects{}
